:root {
  --primary-color: #295f4e;
  --secondary-color: #ffcdb5;
  --heading-font-family: "Lora", serif;
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 4rem;
  font-weight: bold;
  color: #ffffff;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 150px;
}

.hero {
  background-color: var(--primary-color);
  letter-spacing: 0.1em;
  text-align: center;
  padding: 160px 20px;
  background: url(/images/garden.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-btn {
  background-color: var(--secondary-color);
  font-size: 1.2rem;
  line-height: 27px;
  padding: 15px 30px;
  font-family: "Roboto", sans-serif;
  transition: all 0.2s ease-in-out;
}

.hero-btn:hover {
  transform: scale(1.1);
  background-color: var(--secondary-color);
}

.col {
  background-color: var(--secondary-color);
  padding: 0;
}

.primary-links {
  font-size: 1rem;
  font-weight: 600;
}

@media (max-width: 576px) {
  h1 {
    font-size: 2rem;
    text-align: center;
  }
  .col {
    margin: 10px 20px;
    line-height: 100px;
  }
}
